<%= form_for [:admin,@admin_interpreter] do |f| %>
  <% if @admin_interpreter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_interpreter.errors.count, "error") %> prohibited this admin_interpreter from being saved:</h2>

      <ul>
      <% @admin_interpreter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% Interpreter.locale_columns(:name).each do |column| %>
        <div class="field">
        <p>
          <%= f.label column %>
          <%= f.text_field column %>
        </p>
          </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
