<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_interpreter.name %>
</p>

<%= link_to 'Edit', edit_admin_interpreter_path(@admin_interpreter) %> |
<%= link_to 'Back', admin_interpreters_path %>
