<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Authors</h1>

<hr>

<%= link_to 'New Disc', new_admin_author_path,{ class:'btn btn-primary' } %>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_authors.each do |admin_author| %>
      <tr>
        <td><%= admin_author.name %></td>
        <td><%= link_to 'Show', admin_author_path(admin_author) %></td>
        <td><%= link_to 'Edit', edit_admin_author_path(admin_author) %></td>
        <td><%= link_to 'Destroy', admin_author_path(admin_author), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>