
<%= render 'shared/menu' %>

<div class="jumbotron" style="background-image: url('<%= asset_url 'piano-bg.png' %>');">
  <div class="container">

    <section class="col-md-6">
      <img src="<%= asset_url 'mozart-cover.png' %>" class="img-responsive" alt="">
    </section>

    <section class="col-md-6">
      <h1><%= t("new_user_title") %></h1>
      <%= form_for @user, url: user_path(@user),html: {method: :create} do |f|%>

        <div class="form-group">
          <%= f.label :email, t('menu_email')  %>
          <%= f.text_field :email,class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, t('menu_contraseña') %>
          <%= f.password_field :password,class: 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, t('new_user_confirmar_contraseña') %>
          <%= f.password_field :password_confirmation,class: 'form-control'  %>
        </div>

        <%= f.submit :enviar,class: 'btn btn-default' %>
        <hr>
        <p>
            <%= t('new_user_already_account') %> <%= link_to t('menu_iniciar_sesion'),new_session_path %>
        </p>
      <% end %>
    </section>

  </div>
</div>

<%= render 'shared/ventajas' %>

<%= render 'shared/footer' %>
