<style>
  a{
    color: black;
  }
</style>

<nav class="navbar navbar-default main-menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Urtext Online</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to  "Discs",admin_discs_path %></li>
        <li><%= link_to  "Artista",admin_authors_path %></li>
        <li><%= link_to "Compositor", admin_interpreters_path %></li>
        <li><%= link_to  "Generos",admin_genres_path %></li>
        <li><%= link_to "Destacados", admin_featureds_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
