<div class="alert idioma-select alert-default alert-dismissible fade in text-center" role="alert" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>