<nav class="navbar navbar-default main-menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <section class="row text-center"> <%= image_tag asset_url("logo.png") %></section>
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><%= link_to image_tag('mexico-flag.png' , class: ('activeLang' if session[:locale] == "es")), change_language_path('es')  %> </li>
        <li><%= link_to  image_tag('united-states-flag.png', class: ('activeLang' if session[:locale] == "en")), change_language_path('en') %> </li>

        <li><a href="<%= catalogs_path() %>"><%= t("menu_catalogo") %></a></li>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("menu_categorias") %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Genre.where('collection = false').each do |genre| %>
                <li><a href="<%= catalog_path(genre.id) %>"><%= genre.name %></a></li>
              <% end %>
            </ul>
          </li>
          <li><a target="_blank" href="https://www.facebook.com/App-En-concierto-La-orquesta-a-detalle-1632153577035107/"><%= t("menu_multimedia") %></a></li>

          <% if current_user %>
           <li> <%=  link_to  t("menu_mi_cuenta") , profile_path  %></li>
           <li><%= link_to t("menu_cerrar_sesion"), session_path(session[:user_id]), method: :delete %></li>
          <% else %>
            <li>
              <a href="#" id="popover"><%= t("menu_iniciar_sesion") %></a>

                <div id="popover-content" class="hide">
                  <%= form_tag sessions_path, role: 'form'  do |f| %>

                    <div class="form-group">
                      <%= text_field_tag :email, nil,class: 'form-control', placeholder: t('menu_email') %>
                    </div>
                    <div class="form-group">
                      <%= password_field_tag :password, nil,class: 'form-control', placeholder: t('menu_contraseña') %>
                    </div>
                      <button type="submit" class="btn btn-primary center-block" style="background-color:#1449E3"><%= t("menu_iniciar_sesion") %></button>
                  <% end %><br>
                  <p>
                    <%= t("menu_nuevo") %><%= link_to t('menu_crear_cuenta'), new_user_path, style:'color:#1449E3;text-decoration:underline' %>
                  </p>
                </div></li>
            <li><%= link_to t('menu_crear_cuenta'), new_user_path unless current_user %></li>
          <% end %>

        </ul>

      </ul>

      <%= form_tag search_discs_path,method: :get, class:'navbar-form  navbar-right hidden-xs' , role: 'search' do %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="disc">
        </div>
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>

      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <a href="<%= checkout_path %>">
        <li> <section class="shopping-cart">
           <i class="fa fa-shopping-cart " ></i>
           <span id="cookie_counter">
             <% if cookies[:basket].blank? %>
               <%= "0" %>
             <% else %>
              <%= JSON.parse(cookies[:basket]).count %>
            <% end %>

           </span>
         </section></li>
         </a>
      </ul>

    </div><!-- /.navbar-collapse -->

  </div>
</nav>

<div class="alert alert-success " id="purchaseMsg">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p><strong><%= t("cart_added_item") %>.</strong> <%= t("cart_goto") %> <%= link_to "Checkout", checkout_path %></p>
</div>

<div class="alert alert-warning" id="removeMsg">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong><%= t("cart_removed_item") %></strong>
</div>

<script>
$('#popover').popover({
  html : true,
  placement: 'bottom',
  title: function() {
    return $("#popover-head").html();
  },
  content: function() {
    return $("#popover-content").html();
  }
});
</script>
