<section class="container indexAdvantages">
  <section class="row">

  <section class="col-md-4 text-center">
    <i class="fa fa-users fa-3x"></i>
    <p><%= t('home_page_1st_feature') %></p>
  </section>

  <section class="col-md-4 text-center">
    <i class="fa fa-headphones fa-3x"></i>
    <p><%= t('home_2nd_feature') %></p>
  </section>

  <section class="col-md-4 text-center">
    <i class="fa fa-music fa-3x"></i>
    <p><%= t('home_3rd_feature') %></p>
  </section>

</section><!-- /row -->
</section><!-- index advantages -->
