<%= render 'shared/menu' %>

<article class="container heightFix">
  <h1>Order details</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Download</th>
      </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.class.name %></td>
        <%if item.class.name == "Track" %>
        <td><a href="<%= item.url %>" type="application/octet-stream" target="_blank">Descargar</a></td>
        <% end %>
        <td><%= link_to "Descargar",item.discUrl if item.class.name == "Disc" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</article>

<%= render 'shared/footer' %>
