<%= render partial: 'shared/menu' %>

<div id="importantPosts" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @featureds.each_with_index do |slide,index | %>
        <li data-target="#importantPosts" data-slide-to="<%= index %>" class="<%= "active" if index==0 %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% @featureds.each_with_index do |slide,index| %>
    <div class="item <%= "active" if index==0 %>">
      <div class="jumbotron" style="height: 500px;background-image: url('<%= slide.attachment.try(:url) %>');">
        <section class="container">
          <section class="col-md-4">
            <h1><%= slide.title %></h1>
            <a href="<%= slide.url %>" class="btn btn-default space20px btn-transparent"><%= t('home_ver_mas') %></a>
          </section>
        </section><!-- /container -->
      </div> <!-- / jumbotron -->
    </div><!-- /item-->

    <% end %>
  </div><!-- inner -->

</div>

 <%= render 'shared/ventajas' %>

  <hr>

  <section class="container lanzamientos">

    <h1><%= t('home_lanzamientos') %></h1>

    <section class="row">

    <% @discs.each do |disc| %>
      <section class="col-md-3">
        <section class="disc-cover-container">
          <a href="<%= disc_path(disc.try(:id)) %>"><img src="<%= disc.attachments.first.try(:url) %>" alt="" class="img-responsive"></a>
          <section class="discButtons text-center center-block">
            <a href="#" class="favoriteButton" number="<%= disc.id %>", type='disc'><i class="fa fa-shopping-cart fa-lg" ></i></a>
            <a href="#" data-track="<%= disc.tracks.first.try(:id) %>" class="playerButtons"><i class="fa fa-play fa-lg"></i></a>

            <audio preload="false" class="trackPlayer" controls="controls" id="track-<%= disc.tracks.first.try(:id) %>">
              <source src="<%= disc.tracks.first.try(:sampleUrl)  %>" type="audio/mpeg" auto="false" />
            </audio>

          </section><!--/discButtons -->
        </section>

        <section class="disc-details">
          <h5><%= disc.title %></h5>
          <h5><%= disc.genre.name %></h5>
          <h3><%= number_to_currency(disc.price, :unit => "$") %></h3>
        </section>
      </section> <!--/col md 3-->
    <% end %>

    </section><!--/row-->

  </section> <!--/lanzamientos -->

  <section class="colecciones container">

    <h1><%= t('home_coleciones') %></h1>
    <section class="row">

    <% @collections.each_with_index do |collection, i | %>
          <a href="<%= catalog_path(collection.id) %>">
            <section class="<%= if i == 0 then "col-md-6" else " col-md-3 " end %> collection-container ">
              <img src="<%= collection.attachment.try(:url) %>" alt="" class="img-responsive">
              <h2 class="center-block"><%= collection.name %></h2>
            </section><!--col md 6 -->
          </a>

    <% end %>

    </section><!--/row-->

  </section><!--colleciones-->

  <div class="space20px"></div>
  <br>
  <section class="categoriasHome container">

    <h1><%= t('home_categorias') %></h1>

    <div id="carrouselCategorias" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">

        <% @categories.each_with_index do |category,i| %>
          <li data-target="#carrouselCategorias" data-slide-to="<%= i %>" class="<%= "active" if i == 0 %> "><%= category.name %></li>
        <% end %>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @categories.each_with_index do |category,i| %>

         <div class="item <%= "active" if i == 0 %> col-md-12">
          <section class="col-md-6">
            <img src="<%= category.attachment.try (:url) || "http://dummyimage.com/570x690" %> " alt="" class="img-responsive">
          </section><!-- /col md 6-->

          <section class="row">

          <% category.discs.each_with_index do |disc,n| %>

            <% if n<2 %>
            <section class="col-md-3">
              <section class="disc-cover-container">
                <a href="<%=disc_path( disc.id ) %>"><img src="<%= disc.attachments.first.try(:url) %>" alt="" class="img-responsive"></a>
                <section class="discButtons text-center center-block">
                  <a href="#" class="favoriteButton" number="<%= disc.id %>", type='disc'><i class="fa fa-shopping-cart fa-lg" ></i></a>
                  <a href="#" data-track="<%= disc.tracks.first.try(:id) %>" class="playerButtons"><i class="fa fa-play fa-lg"></i></a>
                </section><!--/discButtons -->
              </section>

              <section class="disc-details" style="color:#1449e3;background-color:white;">
                <h4><%= disc.title %></h4>
                <h4><%= t('home_categorias') %></h4>
                <h3><%= disc.price %></h3>
              </section>
            </section> <!--/col md 3-->
            <% end %>

          <% end %>

            <section class="row">
              <section class="col-md-6 text-center">
                <a href="<%=  catalog_path(category.id) %>" class="btn btn-default btn-transparent"><%= t("home_ver_mas") %></a>
              </section>
            </section> <!-- /row -->

          </section><!--/row-->

        </div><!--item-->
       <% end %>
      </div><!--carrousel inner -->

    </div><!--/carrusel-->

  </section><!--/categorias home-->


<%= render 'shared/footer' %>

<script>
$(".playerButtons").click(function(){

  var trackToPlay  = $(this).data("track");
    var player = document.getElementById("track-"+trackToPlay);
    if (player.paused == false) {
      player.pause();
      $(this).children("i").addClass('fa-play');
      $(this).children("i").removeClass('fa-pause');

  } else {
      player.play();
      $(this).children("i").removeClass('fa-play');
      $(this).children("i").addClass('fa-pause');
  }
  return false;
  });
</script>
