<%= form_for [:admin,@admin_disc] do |f| %>
  <% if @admin_disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_disc.errors.count, "error") %> prohibited this admin_disc from being saved:</h2>

      <ul>
      <% @admin_disc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">


    <section class="col-md-4">
      <h3>Genero</h3>
    <%= f.collection_select :genre_id, Genre.order(:name_es), :id, :name, {:selected => @admin_disc.genre_id.to_s}, {class:'form-control'} %>
    </section>

    <section class="col-md-4">
      <h3>Artista</h3>
    <%= f.collection_select :author_ids, Author.order(:name), :id, :name, {:selected => @admin_disc.author_ids.collect {|author| author}}, {class:'form-control', multiple:'true',style:'height:300px'} %>
    </section>

    <section class="col-md-4">
      <h3>Compositor</h3>
    <%= f.collection_select :interpreter_ids, Interpreter.order(:name_es), :id, :name, {:selected => @admin_disc.interpreter_ids.collect { |interpreter| interpreter }}, {class:'form-control', multiple:'true', style:'height:300px'} %>
    </section>

    <% Disc.locale_columns(:title,:description).each do |column| %>
        <p>
          <%= f.label column %>
          <%= f.text_field column, {class:'form-control'} %>
        </p>
    <% end %>

    <section class="form-group">
      <%= f.label :title, "Titulo" %>
      <%= f.text_field :title, {class:'form-control'}%>
    </section>

    <section class="form-group">
      <%= f.label :description, "Descripcion" %>
      <%= f.text_area :description, {class:'form-control'} %>
    </section>


    <section class="form-group">
      <%= f.label :price, "Precio" %>
      <%= f.text_field :price, {class:'form-control'} %>
    </section>


    <%= f.submit 'Enviar', {class:'btn btn-primary'} %>
  </div>
<% end %>
