<%= render 'shared/adminMenu' %>

<h1>Editing Admin Disc</h1>

<%= render 'form' %>

<h1>Full Disc</h1>
<% if @admin_disc.discUrl %>
          <%= @admin_disc.discUrl %>
    <% else %>
      <%= s3_uploader_form callback_url: admin_disc_path, callback_method: :put, callback_param: "disc[discUrl]", id: "full-discs-uploader" do %>
        <%= file_field_tag :file,accept: 'application/zip', multiple: false, data: { url: s3_uploader_url },id: 'full-disc-uploader' %>
    <% end %>
<% end %>


<h1>Upload tracks</h1>
<%= s3_uploader_form callback_url: admin_disc_for_tracks_path, callback_param: "disc[track_url]", id: "tracks-uploader" do %>
  <%= file_field_tag :file,accept: 'audio/*', multiple: true, data: { url: s3_uploader_url },id: 'track-uploader' %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<h1>Upload covers</h1>
<%= s3_uploader_form callback_url: admin_attachments_path + "/Disc/" + @admin_disc.id.to_s, callback_param: "disc[attachment_url]", id: "covers-uploader" do %>
  <%= file_field_tag :file,accept: 'image/*', multiple: true, data: { url: s3_uploader_url },id: 'track-uploader' %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>


<h2>Current tracks</h2>

<table class="table">

  <% @tracks.each do |track| %>

    <tr>
      <td><%= track.title %></td>
      <td><% if track.sampleUrl %>
                <%= track.sampleUrl %>
          <% else %>
            <%= s3_uploader_form callback_url: admin_edit_track_path(track.id), callback_method: :put, callback_param: "update[sampleUrl]", class: "samples-uploader" do %>
              <%= file_field_tag :file,accept: 'audio/*', multiple: false, data: { url: s3_uploader_url },class: 'sample-uploader' %>
            <% end %>
          <% end %>
        </td>
      <td><%= link_to "Listen", track.url %></td>
      <td><%= link_to "Edit",edit_admin_track_path(track.id) %></td>
      <td><%= link_to "Delete", admin_track_destroy_path(track.id), method: :delete  %></td>
    </tr>

  <% end %>
</table>

<h2>Current Covers</h2>

<section>
  <% @covers.each do |cover| %>
    <%= image_tag cover.url, size: '300x300' %>
    <%= link_to "Delete", admin_attachment_destroy_path(cover.id), method: :delete  %>

  <% end %>
</section>

<br>
<%= link_to 'Show', admin_disc_path(@admin_disc) %> |
<%= link_to 'Back', admin_discs_path %>
