<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Discs</h1>
<hr>

<%= link_to 'New Disc', new_admin_disc_path,{ class:'btn btn-primary' } %>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_discs.each do |admin_disc| %>
      <tr>
        <td><%= admin_disc.title %></td>
        <td><%= link_to 'Edit', edit_admin_disc_path(admin_disc) %></td>
        <td><%= link_to 'Destroy', admin_disc_path(admin_disc.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>