<%= render 'shared/adminMenu' %>

<h1>Edit track</h1>

<%= form_for [:admin,@track] do |f| %>
  <% if @track.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@track.errors.count, "error") %> prohibited this admin_disc from being saved:</h2>

    <ul>
    <% @track.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <div class="actions">
    <%= f.collection_select :interpreter_ids, Interpreter.order(:name), :id, :name, {:selected => @track.interpreter_ids.collect { |interpreter| interpreter }}, {class:'form-control', multiple:'true'} %>

    <%= f.label :title, "Titulo" %>
    <%= f.text_field :title %>
    <%= f.label :price, "Precio" %>
    <%= f.text_field :price %>
    <%= f.submit %>
  </div>

<% end %>


<%= link_to "Regresar", edit_admin_disc_path(@track.disc_id)  %>
