<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Featureds</h1>

<hr>
<%= link_to 'New Featured', new_admin_featured_path,{ class:'btn btn-primary' }  %>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_featureds.each do |admin_featured| %>
      <tr>
        <td><%= admin_featured.url %></td>
        <td><%= admin_featured.title %></td>
        <td><%= link_to 'Show', admin_featured %></td>
        <td><%= link_to 'Edit', edit_admin_featured_path(admin_featured) %></td>
        <td><%= link_to 'Destroy', admin_featured, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>