<%= render 'shared/adminMenu' %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @admin_featured.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_featured.title %>
</p>

<%= link_to 'Edit', edit_admin_featured_path(@admin_featured) %> |
<%= link_to 'Back', admin_featureds_path %>
