<%= render 'shared/menu' %>

<article class="container heightFix">

  <h1 class="space20px">Resultados</h1>


  <section class="col-md-9 " id="discCategory">

    <% @discs.each do |disc| %>
        <audio preload="false" class="trackPlayer" controls="controls" id="track-<%= disc.tracks.first.try(:id) %>">
          <source src="<%= disc.tracks.first.try(:sampleUrl)  %>" type="audio/mpeg" auto="false" />
        </audio>
    <section class="col-md-4 disc"  data-price="<%= disc.price %>">
      <section class="disc-cover-container">
        <a href="<%= disc_path(disc.id) %>"><img src="<%= disc.attachments.first.try(:url) %>" alt="" class="img-responsive"></a>
        <section class="discButtons text-center center-block">
          <a href="#"  class="favoriteButton" number="<%= disc.id %>", type='disc'><i class="fa fa-shopping-cart fa-lg" ></i></a>
          <a href="#" data-track="<%= disc.tracks.first.try(:id) %>" class="playerButtons"><i class="fa fa-play fa-lg"></i></a>
        </section><!--/discButtons -->
      </section>

      <section class="disc-details">
        <h4><%= disc.title %></h4>
        <h4><%= disc.genre.name %></h4>
        <h3><%= number_to_currency disc.price %></h3>
      </section>
    </section> <!--/col md 3-->
  <% end %>

  </section><!-- disc category -->

</article>
<%= render 'shared/footer' %>
<script>
  $(".playerButtons").click(function(){

    var trackToPlay  = $(this).data("track");
    var player = document.getElementById("track-"+trackToPlay);
    if (player.paused == false) {
      player.pause();
      $(this).children("i").addClass('fa-play');
      $(this).children("i").removeClass('fa-pause');

    } else {
      player.play();
      $(this).children("i").removeClass('fa-play');
      $(this).children("i").addClass('fa-pause');
    }
    return false;
  });
</script>
